*.class
*.ear
*.iml
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
.idea/
.vscode/
dependency-reduced-pom.xml
launcherv3.properties
launcherv3.xml
module_launcherv3.xml
target/
.gradle/
build/
node_modules/
